@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    font-family: "Mukta", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

.bgcolorgrey{
    background-color: rgb(19, 19, 19);
}


.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* LEFT */
.left{
    width: 25%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.upar{
    height: 32%;
    width: 100%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.upar img{
    width: 100px;
}
 
.upar i{
    font-size: 23px;
}
.home,.search{
    text-transform: uppercase;
    display: flex;
    gap: 20px;
}
.home i,.home h3{
    color: white;
}
.home:hover,.search:hover{
    cursor: pointer;
}
.home:hover h3{
    text-decoration: underline;
}

.search:hover h3{
    color: white;
}
.search:hover i{
    color: white;
}
.search h3,i{
    transition: all .3s;
}



.niche{
    height: 67%;
    width: 100%;
    border-radius: 9px;
    /* position: relative; */

}

.library{
    height:55%;
    margin: 8px;
}

.tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftTit{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* {
    transition: all 0.5s;
} */

.leftTit:hover{
    cursor: pointer;
}

.leftTit:hover i{
    color: white;
}
.leftTit:hover h2{
    color: white;
}

.rightTit:hover i{
    color: white;
    cursor: pointer;
}


.tit i,.leftTit h2{
    font-size:30px ;
    transition: all ease 0.5s;
}

.playlist{
    overflow-y:scroll ;
    height: 80%;
    width: 100%;
    background-color: rgb(64, 64, 64);

}
.playlist::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(64, 64, 64);
}

.playlist::-webkit-scrollbar-thumb{
    background-color: black;
    width: 5px;
    border-radius: 20px;
}



footer{
    /* background-color: red; */
    
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.allLinks{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

footer a{
    font-size: small;
    text-decoration: none;
}
.cookies{
    font-weight: 900;
    line-height: 30px;
    width: auto;
}

.cookies:hover{
    text-decoration: underline;
}

.english{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: solid 2px white;
    width: 120px;
    height:40px;
    border-radius: 20px;
}
.english i{
    font-size: 20px;
    color: white;
}
.english h4{
    color: white;
}

.english:hover{
    scale: 1.1;
    cursor: pointer;
}


/* RIGHT */

.right{
    position: relative;
    height: 98%;
    width: 72%;
    border-radius: 9px;
    overflow-y: scroll;
}

.right::-webkit-scrollbar{
    width: 10px;
    background-color: grey;
    z-index: 1;
}
.right::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
}





nav{
    height:10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.412);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3vw;
    z-index: 99;
}

nav .arrows{
    display: flex;
    gap: 1vw;
}

nav .arrows .leftArrow,.rightArrow{
    height: 40px;
    width: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.signinSection{
    display: flex;
    gap: 3vw;
    align-items: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 9vw;
    height: 3.5vw;
    background-color: white;
    color: black;
}

.signup:hover{
    scale:1.1;
    cursor: pointer;
    color: white;
}
.login:hover{
    scale:1.1;
    cursor: pointer;
}

.cardContainer{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    /* height: 20vw; */
    padding: 10px;
    width: 16vw;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 5px;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    
}

.card:hover{
    cursor: pointer;
}
.card:hover .playBtn{
    top: 45%;
    opacity: 1;
}


.card .playBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vw;
    width: 3.5vw;
    background-color: #1FDD63;
    padding-left: 3px;
    border-radius: 50%;
    position: absolute;
    right: 7%;
    top: 50%;
    box-shadow: 8px 8px 20px black ;
    opacity: 0;
    transition: all ease .3s;
}

.card .playBtn:hover{
    scale: 1.05;
}

.card i{
    font-size: 30px;
    color: black;
    
}


.card img{
    /* height: 70%; */
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.card p{
    text-align: center;
    font-size: small;
}
.card h3{
    color: white;
}
.card:hover{
    background-color: rgb(33, 33, 33);
}