@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    font-family: "Mukta", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

.bgcolorgrey{
    background-color: rgb(19, 19, 19);
}


.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* LEFT */
.left{
    width: 25%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}

.upar{
    height: 32%;
    width: 100%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.upar img{
    width: 8vw;
}
 
.upar i{
    font-size: 2vw;
}
.home,.search{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2vw;
}
.home i,.home h3{
    color: white;
}
.left .upar h3{
    font-size: 1.4vw;
}
.home:hover,.search:hover{
    cursor: pointer;
}
.home:hover h3{
    text-decoration: underline;
}

.search:hover h3{
    color: white;
}
.search:hover i{
    color: white;
}
.search h3,i{
    transition: all .3s;
}



.niche{
    height: 67%;
    width: 100%;
    border-radius: 9px;
    /* position: relative; */

}

.library{
    height:95%;
    margin: 8px;
}

.tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftTit{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* {
    transition: all 0.5s;
} */

.leftTit:hover{
    cursor: pointer;
}

.leftTit:hover i{
    color: white;
}
.leftTit:hover h2{
    color: white;
}

.rightTit:hover i{
    color: white;
    cursor: pointer;
}


.tit i,.leftTit h2{
    font-size:2vw ;
    transition: all ease 0.5s;
}

.playlist{
    overflow-y:auto ;
    height: 80%;
    width: 100%;
    border-radius: 5px;

}

.song-cardContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playlist .songCard{
    width: 100%;
    height: 80px;
    border:solid 2px rgb(50, 50, 50);
    background-color: rgb(16, 16, 16);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    
    align-items: center;
    padding: 10px;
    position: relative;
}

.songCard:hover{
    cursor: pointer;
}

.musicImg i{
    color: white;
    font-size: 2.3vw;

}

.songDetail{
    width: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.songname{
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: -3px;
    line-height: 20px;
    color: white;
    overflow: hidden;
}

.songCard .songCard-PlayBtn{
    height: 3.5vw;
    width: 3.5vw;
    background-color: rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
}
.songCard .songCard-PlayBtn:hover{
    scale: 1.1;
}
.songCard-PlayBtn i{
    font-size: 20px;
    color: white;
}

.playlist::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(64, 64, 64);
}

.playlist::-webkit-scrollbar-thumb{
    background-color: rgb(12, 12, 12);
    width: 5px;
    border-radius: 20px;
}



footer{
    /* background-color: red; */
    
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.allLinks{
    display: flex;
    flex-wrap: wrap;
    gap: 1.7vw;
    align-items: center;
}


/* RIGHT */

.right{
    position: relative;
    height: 98%;
    width: 72%;
    border-radius: 9px;
    overflow-y: auto;
}

.right::-webkit-scrollbar{
    width: 10px;
    background-color: grey;
    z-index: 1;
}
.right::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
}





nav{
    height:10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.412);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3vw;
    z-index: 99;
}

nav .arrows{
    display: flex;
    gap: 1vw;
}

nav .arrows .leftArrow,.rightArrow{
    height: 40px;
    width: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.signinSection{
    display: flex;
    gap: 3vw;
    align-items: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 9vw;
    height: 3.5vw;
    background-color: white;
    color: black;
}

.signup:hover{
    scale:1.1;
    cursor: pointer;
    color: white;
}
.login:hover{
    scale:1.1;
    cursor: pointer;
}


.right h1{
    margin-top: 20px;
    color: white;
    margin-left: 10px;

}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    /* height: 20vw; */
    padding: 10px;
    width: 210px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 6px;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    
}

.card:hover{
    cursor: pointer;
}
.card:hover .playBtn{
    top: 45%;
    opacity: 1;
}


.card .playBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:43px;
    width: 43px;
    background-color: #1FDD63;
    padding-left: 3px;
    border-radius: 50%;
    position: absolute;
    right: 7%;
    top: 50%;
    box-shadow: 8px 8px 20px black ;
    opacity: 0;
    transition: all ease .3s;
}

.card .playBtn:hover{
    scale: 1.05;
}

.card i{
    font-size: 25px;
    color: black;
    
}


.card img{
    /* height: 70%; */
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.card p{
    text-align: center;
}
.card h3{
    color: white;
}
.card:hover{
    background-color: rgb(33, 33, 33);
}




.music-player{
    height: 100px;
    width: 71%;
    background-color: rgb(19, 19, 19);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;

}
.seekbar{
    height: 4px;
    width: 98%;
    border: solid 4.5px white;
    border-radius: 17px;
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
}
.seekbar:hover{
    cursor: pointer;
}
.seekbar .circle
{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    background-color: pink;
    transition: all 0.4s;

}


.music-player .songInfo{
    
    /* background-color: red; */
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 30%;
}

.music-player .songTime{
    
    /* background-color: green; */
    width: 30%;
    color: white;

}

.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.music-player .btns i{
    font-size: 2vw;
    
    color: white;
}
.music-player .prev,.music-player .play,.music-player .next{
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 45, 45);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(35, 35, 35);
}
.music-player .btns div:hover{
    cursor: pointer;
    
}


/* @media (max-width: 960px) {
    .left{
        position: absolute;
        left: -100%;
        /* background-color: red; */
        /* z-index: 101; */
        transition: all ease 1s;
    }
    .right{
        width: 100%;
    }
    .right .music-player{
        width: 98%;
    }
  } */















/* footer */


footer a{
    font-size: 1.1vw;
    text-decoration: none;
}
.cookies{
    font-weight: 900;
    line-height: 30px;
    width: auto;
}

.cookies:hover{
    text-decoration: underline;
}

.english{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: solid 2px white;
    width: 10vw;
    height:3vw;
    border-radius: 20px;
}
.english i{
    font-size: 20px;
    color: white;
}
.english h4{
    color: white;
}

.english:hover{
    scale: 1.1;
    cursor: pointer;
}
